@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary-color: #00E88F;
    --secondary-color: #F7DF1E;;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style-type: none;
    border: none;
}

html, body {
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;

    background-color: var(--primary-color);
}

.container {
    max-width: 960px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}

/*=== Header ===*/

header {
    background-color: white;

    color: #777;

    width: 100%;
    padding: 24px 0;

    text-align: center;
}

header div.container {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
}

/*=== Logo ===*/

.logo h1 {
    color: #777;
    font-size: 25px;
    line-height: 38px;
    margin-right: 50.4px;
}

/*=== Primary Menu ===*/

.header-menu {
    display: flex;
    align-items: center;
}

nav.primary a {
    color: #777;
    font-size: 16px;
}

nav.primary a + a {
    margin-left: 30px;
}

nav.primary a.active {
    font-weight: bold;
    color: var(--primary-color);
}

nav.primary a:hover,
.admin a:hover {
    color: var(--primary-color);
}

.admin a {
    font-size: 16px;
    color: #777;
    right: 0;
}

/*=== Card ===*/

.card {
    background-color: white;
    width: 800px;
    min-height: 400;

    margin: 45px auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);

    animation: up 200ms ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translate(15px);
    }
    to {
        opacity: 1;
    }
}

.details {
    padding: 32px;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}

.details .item:last-child {
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.details .item div:nth-child(2) span {
    padding: 8px 16px;
    background-color: var(--primary-color);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

/*=== form ===*/

input {
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 14px;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 14px;
    font-weight: normal;
}

button[type="submit"],
a.button {
    padding: 8px 32px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
}