@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary-color: #F7B541;
    --secondary-color: #F7DF1E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style-type: none;
    border: none;
}

html, body {
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;

    background-color: var(--primary-color);
}

.container {
    max-width: 960px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}

/*=== Header ===*/

header {
    background-color: white;

    width: 100%;
    padding: 24px 0;

    text-align: center;
}

header div.container {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
}

/*=== Logo ===*/

.logo h1 {
    color: #777;
    font-size: 25px;
    line-height: 38px;
    margin-right: 50.4px;
}

/*=== Primary Menu ===*/

.header {
    display: flex;
    align-items: center;
}

nav.primary a {
    font-size: 14px;
    line-height: 19px;
    color: #777;
    text-transform: uppercase;
    /* position: relative; */
}

nav.primary a + a {
    margin-left: 30px;
}

nav.primary a.active {
    font-weight: bold;
    color: var(--primary-color);
}

nav.primary a:hover {
    color: var(--primary-color);
}

/* nav.primary a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

nav.primary a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out; */
}

.admin a {
    font-size: 14px;
    line-height: 19px;
    color: #777;
    text-transform: uppercase;
    right: 0;
}

/*=== Card ===*/

.card {
    background-color: white;
    width: 960px;
    min-height: 400;

    margin: 30px auto;

    display: grid;
    grid-template-columns: 40% 60%;

    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);

    animation: up 200ms ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translate(15px);
    }
    to {
        opacity: 1;
    }
}