<div class="item">
    <div>Avatar URL</div>
        <div>
            <input 
            type="url"
            name="avatar_url"
            placeholder="http://"
            value="{{ teacher.avatar_url }}"
            >
        </div>
</div>

<div class="item">
    <div>Professor (a)</div>
    <div>
        <input 
        type="text"
        name="name"
        placeholder="Nome do Professor"
        value="{{ teacher.name }}"
        >
    </div>
</div>

<div class="item">
    <div>Data de Nascimento</div>
    <div>
        <input 
        type="date"
        name="birth"
        value="{{ teacher.birth }}"
        >
    </div>
</div>

<div class="item">
    <div>Grau de Escolaridade</div>
    <div>
        <select name="grau">
            <option value="1" {% if teacher.grau == 1 %}
                selected
            {% endif %}> Ensino Médio Completo
            </option>

            <option value="2" {% if teacher.grau == 2 %} 
                selected 
            {% endif %}> Ensino Superior Completo
            </option>

            <option value="3" {% if teacher.grau == 3 %} 
                selected 
            {% endif %}> Mestrado e Doutorado
            </option>
        </select>
    </div>
</div>

<div class="item">
    <div>Tipo de Aula</div>
    <div>
        <span>
            <input 
            type="radio" 
            name="type"
            value="Presencial"
            {% if teacher.type == "Presencial" %}
                checked
            {% endif %}>Presencial
        </span>
        <span>
            <input 
            type="radio" 
            name="type"
            value="Distancia"
            {% if teacher.type == "Distancia" %}
                checked
            {% endif %}>À Distancia
        </span>
    </div>
</div>

<div class="item">
    <div>Área de Atuação</div>
    <div>
        <input 
        type="text"
        name="services"
        placeholder="Separe as mastérias por vírgula"
        value="{{ teacher.services }}"
        >
    </div>
</div>

</div>

<button type="submit">Salvar</button>