<script>
    const formDelete = document.querySelector("#button-delete")
    formDelete.addEventListener("submit", function() {
        const confirmation = confirm("Deseja Deletar?")
        if (!confirmation) {
            event.preventDefault()
        }
    })
</script>