<header>
    <div class="container">
        <div class="header-menu">
            <a href="">
                <div class="logo">
                    <h1>Private Lessons</h1>
                </div>
            </a>

            <nav class="primary">
                <a href="/teachers">Teachers</a>
                <a href="/students">Students</a>
            </nav>
        </div>
        <div class="admin">
            <a href="">Sair</a>
        </div>
    </div>
</header>