<header>
    <div class="container">
        <a href="">
            <div class="logo">
                <h1>Private Lessons</h1>
            </div>
        </a>

        <nav class="primary">
            <a href="/teachers" class="active">Teachers</a>
            <a href="#">Students</a>
        </nav>
    </div>
</header>